asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
dj-database-url==2.2.0
Django==5.0.1
django-heroku==0.3.1
idna==3.7
mysqlclient==2.2.4
pillow==10.3.0
psycopg2==2.9.9
razorpay==1.4.2
requests==2.32.3
setuptools==68.0.0
sqlparse==0.4.4
typing_extensions==4.12.0
tzdata==2023.4
urllib3==2.2.1
wheel==0.37.1
whitenoise==6.6.0
