<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Registration</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap-4.0.0.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'account/css/style.css' %}">
<!--    <script src="{% static 'account/js/script.js' %}"></script>-->
</head>
<body >
<div class="bg" style=" background-image: url({% static 'account/images/3007283.jpg' %});">
<div class="split left">
  <div class="centered">

    {% block content %}
    {% endblock %}

  </div>
</div>

<div class="split right">
  <div class="centered">

  </div>
</div>
</div>
<!-- Bootstrap JS -->
<script src="{% static 'vendor/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'vendor/js/popper-1.12.9.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap-4.0.0.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap-lite.js' %}"></script>

</body>
</html>
